/* This is CSS file of the website, "SMOOTY" */
/* Style */

.text { font-size: 20px; color: #000000; text-decoration:none; font:  }

 #layer_fixed
{
            height:60px;
            width:100%;
            color: #555;
            font-size:12px;
            position:fixed;
            z-index:999;
            top:0px;
            left:0px;
            -webkit-box-shadow: 0 1px 2px 0 #777;
            box-shadow: 0 1px 2px 0 #777;
            background-color:#ffcc33;
}


.wrapper{ width: 50%; min-width: 1500px; height: 1800px; margin: auto; margin-top: 70px;}

	/*Section1*/
	.SMOOTY_Section1 { width : 100%; height: 160px; background-color: black;}

		
		.SMOOTY_Main{ width: 100%; height: 80px; background-color: white;  } 
			.SMOOTY_Main img{ width: 17%; height: 100%; }
			.SMOOTY_search { width: 500px; height: 40px; margin: 12px; float: right;  }
				.SMOOTY_search .Yellow_Window { display: inline-block; width: 445px; height: 38px; border: 2px solid #ffcc33; }
				.SMOOTY_search .SMOOTY_search_btn { position: absolute; overflow: visible; width: 45px; height: 42px; border: 0; background-color: #ffcc33;}
				.SMOOTY_search .input_text { margin: 3px; width: 435px; height: 29px; border: 0; outline : 0; background-color: transparent; font-size: 15px; }

		.SMOOTY_Menu{ width: 100%; height: 78px; border: 1px solid #dddddd; background-color: #fff; }

	/*Section2*/
	.SMOOTY_Section2 { width: 100%;  height: 1300px; background-color: #f2f4f7; }

	/* SideMenu */
		.SMOOTY_Side_Menu { width: 310px; height: 1270px; position:absolute; margin: 10px; }

			.SMOOTY_Login { width: 100%; height: 10%; border: 1px solid #dddddd; background-color: white;}
				.SMOOTY_Login .login_top { width: 100%; height: 20px;  }
				
				.SMOOTY_Login .login { width: 137px; height: 50px;  display: block;  }
					.SMOOTY_Login .login .Account{ position: relative; width: 137px; height: 25px; left: 20px; display: block;  } 
				
				.SMOOTY_Login .btn_login { position: absolute; left:162px; top: 21px; height: 62px; width: 65px; background-color: black; }
				.SMOOTY_Login .btn_login input{  width: 100%; height: 100%; color:white; text-align: center; bottom: 150px; font-weight: 100px; font-size: 13px; border: 0px; background-color:#ffcc33; }
				
				.SMOOTY_Login .login_check{ width: 100%; height: 28px; position: absolute; top: 88px; }
					.SMOOTY_Login .login_check .lb1_long { position: relative; left: -20px; display: inline-block; color: #888; letter-spacing: -1px; font-size: 12px; line-height: 18px; cursor: pointer; }
						.SMOOTY_Login .login_check .chk_login { position: relative;  top: 4px; width: 50px; height: 15px; }
						.SMOOTY_Login .login_check .lb1_long .ico_chk { position: relative; left: 10px; top: 50px; width: 20px; height: 30px; background-position : -333px -178px; }

				.SMOOTY_Login .login_bottom { width: 100%; height: 9px; position: relative; top: 48px; background-color: #ffcc33; }

			.SMOOTY_Menu1 { width: 100%; height: 20.8%; border: 1px solid #dddddd; background-color: white; margin-top: 10px; }
				.SMOOTY_Menu1 .SMOOTY_Menu1_header { position: relative; padding-left: 15px; height: 55px; border-bottom: 1px solid #ebeef3; }
					.SMOOTY_Menu1 .SMOOTY_Menu1_header .header_info { width: 240px; height: 55px;  } 
					.SMOOTY_Menu1 .SMOOTY_Menu1_header .header_info .date { font-size: 20px; height: 55px; line-height: 56px; }
					.SMOOTY_Menu1 .SMOOTY_Menu1_header .header_info .day { font-size: 20px; height: 55px; line-height: 54px; }
					.SMOOTY_Menu1 .SMOOTY_Menu1_header .header_info .splash {  color: #e3e7ee; }

			.SMOOTY_Menu2 { width: 100%; height: 17%; border: 1px solid #dddddd; background-color: white; margin-top: 16px; }
				.SMOOTY_Menu2 img { width: 311px; height: 219px; }

			.SMOOTY_Menu3 { width: 100%; height: 47.2%; border: 1px solid #dddddd; background-color: white; margin-top: 16px; }
				.SMOOTY_Menu3 .SMOOTY_Menu3_header { position: relative; padding-left: 15px; height: 55px; border-bottom: 1px solid #ebeef3; }


	/* /SideMenu */

		.SMOOTY_Banner { width: 1150px;  height: 400px; border: 1px solid #dddddd; background-color: white; position:static; float: right; margin: 10px;  }
			.mySlides img{ width:100%; height:401px; }


		.SMOOTY_News {  width: 1150px;  height: 100px; border: 1px solid #dddddd;  background-color: white; position:static; float: right; margin: 10px;  }
			.SMOOTY_News .SMOOTY_News_flash { position: relative; float: left; padding: 14px 0 0 16px; width: 750px; height: 80px;  }
				.SMOOTY_News .SMOOTY_News_Main { float: left; margin-left: 20px; }
				.SMOOTY_News .SMOOTY_News_Stand_Rolling { width: 550px; height: 50px; margin-left: 10px; margin-top: 10px;  overflow: hidden; float: left; }
					.SMOOTY_News .SMOOTY_News_Stand_Rolling .sr_item { overflow: hidden; height: 20px; vertical-align: top; text-overflow: ellipsis; white-space: nowrap; line-height: 20px; }

				.SMOOTY_News .SMOOTY_News_Link {  float: right; margin-top: 37px; margin-right: 5px; }
					.SMOOTY_News .SMOOTY_News_Link .sl_item { float: left; margin-right: 15px; list-style: none; }
						.SMOOTY_News .SMOOTY_News_Link .sl_item .sl_item_a { display: block; font-size: 20px; text-decoration: none; }
						.SMOOTY_News .SMOOTY_News_Link .sl_item .Main { color: #ffcc33; font: bold; }


		.SMOOTY_Img_Notice {  width: 615px;  height: 710px; border: 1px solid #dddddd; background-color: white; position:static; float: right; margin: 10px;  }

		.SMOOTY_Notice { width: 510px;  height: 710px; border: 1px solid #dddddd; background-color: white; position:static; float: right; margin: 10px;  }

	/*Section3*/
	.SMOOTY_Section3 {  }

		.SMOOTY_Shortcut { width: 100%; height: 150px; border: 1px solid #dddddd; margin-top: 10px;  }

		.SMOOTY_Introduce { width: 100%; height: 200px; border: 1px solid #dddddd; margin-top: 10px; }

